rasterio
geopandas
pyogrio
shapely
pyproj
rtree
earthengine-api
geemap
folium
numpy
pandas
matplotlib
seaborn
opencv-python
opencv-python-headless
scikit-image
scikit-learn
scipy
h5py
imageio
albumentations
albucore==0.0.24
pydantic
timm
segmentation-models-pytorch
torch
torchvision
xgboost